langchain
sqlparse
langchain-community
openai
python-dotenv
jupyterlab
langchain[openai]
PyMuPDF
SQLAlchemy
fastapi[standard]
uvicorn
uvicorn[standard]
tiktoken
pinecone-client
pinecone
langchain-pinecone
